<!DOCTYPE html>
<html>
<head>
    <title>Pricing Comparison Site</title>
</head>
<body>
    <h1 style="position:relative; left:30%;">:ההצעות הטובות ביותר</h1>
    <div style="width: 100%;">
        <div style="width:50%;float:left;">
            <ul style="position:relative; left:60%;">
                {% for offer in offers %}
                    <li>
                        חנות: {{ offer.store_name }}
                        </br>
                        סה"כ: {{ offer.total_price }}
                    </li>
                    </br>

                {% endfor %}
            </ul>

            </br>
            </br>
            <a href="/home"><button style="position:relative; left:62%;">חלון מוצרים</button></a>
            <a href="/logout"><button style="position:relative; left:65%;">התנתקות</button></a>
        </div>
        <div style="width: 40%;float:left;">
                <img src="https://thumbs.dreamstime.com/b/d-academic-penguin-has-been-to-sales-render-sale-bag-42049529.jpg" alt="penguin" width="500" height="600">
        </div>
    </div>
</body>
</html>