<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main page</title>
    </head>
    <body>
        <h1>Welcome to Pingu-Goes-Shopping!</h1>
        <img src="https://thumbs.dreamstime.com/b/d-penguin-has-empty-shopping-trolley-render-45917528.jpg" alt="penguin" width="500" height="600">
        </br>
        <a href="/login">
            <button type="button" style="position:relative; left:5%;">התחברות</button>
        </a>
        <a href="/signup">
            <button type="button" style="position:relative; left:10%;">רישום</button>
        </a>
    </body>
</html>