<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log in</title>
    </head>
    <body>
        <h1>Please login</h1>
        <br>
        <form action="/login" method="POST">
            <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
            <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        </br>
        <a href="/signup"><button type="button">Sign up</button></a>
    </body>
</html>