<!DOCTYPE html>
<html>
<head>
    <title>Pricing Comparison Site</title>
</head>
<body>
    <h1>מוצרים</h1>
    <div style="width: 100%;">
        <div style="width: 40%;float:left;">
            <img src="https://thumbs.dreamstime.com/b/penguin-shopping-cart-vector-vector-illustration-flat-minimal-vector-eps-file-copy-space-160715074.jpg" alt="penguin" width="500" height="600">
        </div>
        <div style="width:50%;float:left;">
            <label for="products">בחר מוצרים:</label>
                <ul>
                {% for product in products %}
                    <li>
                        <strong>{{ product.product_name }}</strong>
                            <form action="/add_to_cart" method="POST">
                                <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                <label for="quantity">כמות:</label>
                                <input type="number" id="quantity" name="quantity" min="1" value="1">
                                <button type="submit">הוספה לעגלה</button>
                            </form>
                    </li>
                    </br>

                {% endfor %}
                </ul>

            <a href="/view_cart"><button style="position:relative; left:100px;">לעגלה</button></a>
            <a href="/logout"><button style="position:relative; left:130px;">התנתקות</button></a>
        </div>



</body>
</html>