<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign up</title>
    </head>
    <body>
        <h1>אנא בצע רישום</h1>
        <br>
        <form action="/signup" method="POST">
            <input type="text" placeholder="שם משתמש" name="username" value="{{request.form.username }}">
            <input type="password" placeholder="ססמא" name="password" value="{{request.form.password }}">
            <input class="btn btn-default" type="submit" value="רישום">
        </form>
        </br>
        </br>
        </br>
        <a href="/login"><button type="button">חיבור</button></a>
  </body>
</html>